*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
    background-image: url(./img/pattern.png);
    background-size: auto 200%;
    background-repeat: repeat;
    background-color: rgb(0, 183, 255);
}

